__pycache__/
*.py[cod]
*.so
*.egg-info/
*.log
*.cache/
*.sqlite3
*.db
.DS_Store
Thumbs.db
.data/
.env
.env.*
.git/
.github/
.gitmodules
.mypy_cache/
.pytest_cache/
.vscode/
.venv/
.idea/
tmp/
venv/
dist/
build/
coverage/