titanic-pp-py==0.0.6
psycopg2-binary==2.9.9
sqlalchemy==2.0.35
python-dotenv==1.0.1
twisted==24.7.0
redis==5.1.0
requests==2.32.3
boto3-type-annotations-with-docs==0.3.1
boto3==1.35.34
pytz==2024.2
pytimeparse==1.1.8
geoip2==4.8.0
bcrypt==4.2.0
sendgrid==6.11.0
timeago==1.0.16
