rosu-pp-py==3.1.0
psycopg2-binary==2.9.11
sqlalchemy==2.0.45
python-dotenv==1.2.1
twisted==25.5.0
redis==7.1.0
requests==2.32.5
boto3<2
pytz==2025.2
pytimeparse==1.1.8
geoip2==5.2.0
bcrypt==5.0.0
sendgrid==6.12.5
timeago==1.0.16
autobahn==25.12.1
chio==1.1.20
psutil==7.1.3
py-cpuinfo==9.0.0
pydantic-settings==2.12.0