aiohttp==3.9.1
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.2.0
Automat==22.10.0
bcrypt==4.1.2
boto3==1.34.11
boto3-type-annotations-with-docs==0.3.1
botocore==1.34.11
certifi==2023.11.17
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
constantly==23.10.4
frozenlist==1.4.1
geoip2==4.8.0
greenlet==3.0.3
hyperlink==21.0.0
idna==3.6
incremental==22.10.0
jmespath==1.0.1
maxminddb==2.5.1
multidict==6.0.4
psycopg2==2.9.9
python-dateutil==2.8.2
python-dotenv==1.0.0
python-http-client==3.3.7
pytimeparse==1.1.8
pytz==2023.3.post1
redis==5.0.1
requests==2.31.0
s3transfer==0.10.0
sendgrid==6.11.0
six==1.16.0
SQLAlchemy==2.0.24
starkbank-ecdsa==2.2.0
timeago==1.0.16
titanic-pp-py==0.0.4
Twisted==23.10.0
typing-extensions==4.9.0
urllib3==1.26.18
yarl==1.9.4
zope.interface==6.1
